<!DOCTYPE html>
<html lang="zh-CN">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>博客详情</title>

    <!-- Bootstrap -->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/semantic/semantic.css}"/>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<!--顶部导航栏区域-->
<div class="ui inverted segment menu m-padded-tb-mini m-shadow-small" >
    <!--<div class="ui container">-->
    <div class="ui secondary stackable menu container">
        <!--<h2 class="left ui item">发包锅锅</h2>-->
        <!--<h2 class="ui teal header item">发包锅锅</h2>-->
        <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
    </div>
    <!--</div>-->
</div>
<!-- 文章详情展示区域-->
        <!--文章基本信息-->
        <div class="ui main text container" id="article-detail">
            <!--文章信息区域-->
            <div class="ui  basic segment" style="text-align: center;margin-top: 50px" id="article-header">

            </div>
            <div class="ui basic segment" style="text-align: center;" id="article-message">

            </div>
            <!--图片区域-->
            <div class="ui basic segment" id="article-showImg">
                <div class="image">
                    <img src="../img/1005.jpg">
                </div>
            </div>
            <!--正文区域-->
            <div class="ui basic segment" style="margin-top: 50px" id="article-content">

            </div>
        </div>


</body>
<!--<script type="text/javascript" th:src="@{/js/semantic/semantic.js}"></script>-->
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/js/articleDetail.js}"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</html>