<!DOCTYPE html>
<html lang="zh-CN">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>博客首页</title>

    <!-- Bootstrap -->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/semantic/semantic.css}"/>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<!--顶部导航栏区域-->
<!--<div class="ui fixed   segment  menu m-padded-tb-mini m-shadow-small" >
    &lt;!&ndash;<div class="ui container">&ndash;&gt;
    <div class="ui orange secondary stackable menu container">
            &lt;!&ndash;<h2 class="left ui item">发包锅锅</h2>&ndash;&gt;
            &lt;!&ndash;<h2 class="ui teal header item">发包锅锅</h2>&ndash;&gt;
            <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            &lt;!&ndash;<a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>&ndash;&gt;
                <div class="ui icon  input">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            <div class="right item">
                <a class="ui button">登录 </a>
                <a class="ui  button">注册 </a>
            </a>
        </div>
    &lt;!&ndash;</div>&ndash;&gt;
</div>
</div>-->
<div class="ui  center aligned attached segment" >
    <div class="ui container">
        <div class="ui  secondary  stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="active teal item">首页</a>
            <div class="ui icon input item">
                <input type="text" placeholder="Search....">
                <i class="search link icon"></i>
            </div>
            <div class="right item">
                    <a  class="ui teal button" href = "login">登录 </a >
                    <a  class="ui  teal button" href = "register">注册 </a >
            </div>
        </div>
    </div>
</div>
<!--缓冲区 后续会用来当成公告-->
<!--<div class="ui container" style="margin-top: 100px">

</div>-->
<!-- 中间展示区域-->
<div  class="m-container ">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--中间文章展示-->
            <div th:replace="showArticle :: showArticle" >
            </div>

            <!--测试-->
        </div>

    </div>
</div>
</body>
<!--<script type="text/javascript" th:src="@{/js/semantic/semantic.js}"></script>-->
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/js/showArticle.js}"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</html>